pytest>=3.5
pytest-cov>=2.5
pytest-mpl>=0.9
tox>=3.0
coverage>=4.0.3
coveralls
python-coveralls
codacy-coverage

Ipython==6.5.0;python_version>="3.5"
Ipython==5.8.0;python_version=="2.7"
sphinx>=1.7
sphinx_bootstrap_theme>=0.6
sphinx-argparse>=0.2.2

scipy
